.App {
  text-align: center;
}
.App-header {
  background-color: #822832;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  }
.Roc {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.dr{
  float: left;
}
.dr a {
  display: block;
  color: #F8F6D4;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}
.dr a:hover:not(.active) {
  background-color: #111;
}
h1{
  font-family: "Times New Roman", Times, serif;
  color: #8A9597;
  font-size: 150px;
}
.general {
	margin: auto;
	width: 842px;
	height: 595px;
	background: url("imagenes/logo2.svg");
  }